<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/settings.ejs by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:46 GMT -->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Shop By</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/css/font-awesome.min.css">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="/css/feathericon.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/css/style.css">

	<!--[if lt IE 9]>
			<script src="/js/html5shiv.min.js"></script>
			<script src="/js/respond.min.js"></script>
		<![endif]-->
</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<div class="header">

			<!-- Logo -->
			<div class="header-left">
				<a href="index" class="logo">
					<img src="/img/logo.png" alt="Logo">
				</a>
				<a href="index" class="logo logo-small">
					<img src="/img/logo-small.png" alt="Logo" width="30" height="30">
				</a>
			</div>
			<!-- /Logo -->

			<a href="javascript:void(0);" id="toggle_btn">
				<i class="fe fe-text-align-left"></i>
			</a>


			<!-- Mobile Menu Toggle -->
			<a class="mobile_btn" id="mobile_btn">
				<i class="fa fa-bars"></i>
			</a>
			<!-- /Mobile Menu Toggle -->

			<!-- Header Right Menu -->
			<ul class="nav user-menu">


				<!-- User Menu -->
				<li class="nav-item dropdown has-arrow">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
						Admin
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/admin/logout">Logout</a>
					</div>
				</li>
				<!-- /User Menu -->

			</ul>
			<!-- /Header Right Menu -->

		</div>
		<!-- /Header -->

		<!-- Sidebar -->
		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li class="menu-title">
							<span>Main</span>
						</li>
						<li >
							<a href="/latestupdates"><i class="fe fe-list-bullet"></i> <span>Latest Updates</span></a>
						</li>
						<li >
							<a href="/features"><i class="fe fe-list-bullet"></i> <span>Sports and features</span></a>
						</li>
						<li>
							<a href="/about"><i class="fe fe-list-bullet"></i> <span>About us</span></a>
						</li>
						<li >
							<a href="/blogs"><i class="fe fe-list-bullet"></i> <span>Blogs</span></a>
						</li>
						<li >
							<a href="/enter"><i class="fe fe-list-bullet"></i> <span>Entertainment</span></a>
						</li>
						<li>
							<a href="/wait"><i class="fe fe-list-bullet"></i> <span>Waitlist</span></a>
						</li>
						<li >
							<a href="/staytune"><i class="fe fe-list-bullet"></i> <span>Staytune</span></a>
						</li>
						<li >
							<a href="/ads"><i class="fe fe-list-bullet"></i> <span>Advertisement</span></a>
						</li>
						<li >
							<a href="/video"><i class="fe fe-list-bullet"></i> <span>Video</span></a>
						</li>
						<li class="active">
							<a href="/shopby"><i class="fe fe-list-bullet"></i> <span>Shop By</span></a>
						</li>


					</ul>
				</div>
			</div>
		</div>
		<!-- /Sidebar -->

		<!-- Page Wrapper -->
		<div class="page-wrapper">
			<div class="content container-fluid">


				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="page-title">Shop By</h3>

						</div>
					</div>
				</div>
				<!-- /Page Header -->

				<div class="row">

					<div class="col-12">

						<!-- General -->

						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Shop By</h4>
							</div>
							<div class="card-body">
								<form action="/shopby/edit/<%- data[0].id %>" method="POST" enctype='multipart/form-data'>

									<div class="form-group">
										<label> Celebrities Url</label>
										<input type="text" class="form-control" name="curl" value='<%- data[0].curl %>'>
										
									</div>
									<div class="form-group">
										<label>Sports Url</label>
										<input type="text" width="30" class="form-control" name="surl" value='<%- data[0].surl %>'>
									</div>
									<div class="form-group">
										<label> Art Url</label>
										<input type="text" class="form-control" name="aurl" value='<%- data[0].aurl %>'>
										
									</div>
									<div class="form-group">
										<label>LifeStyle Url</label>
										<input type="text" width="30" class="form-control" name="lurl" value='<%- data[0].lurl %>'>
									</div>
									<button type="submit" class="btn btn-primary btn-block">Save Changes</button>


								</form>
							</div>
						</div>

						<!-- /General -->

					</div>
				</div>
				<!-- <section class="comp-section comp-cards">
					<div class="row">
						
							<div class="col-12 col-md-6 col-lg-4 d-flex">
								<div class="card flex-fill">
									<img alt="Card Image" src="" class="card-img-top">
									<div class="card-header">
										<h5 class="card-title mb-0">
											text goes here..
										</h5>
									</div>
									<div class="card-body">
										<div class="actions">
											<a class="btn btn-sm bg-danger-light"
												href="/admin/gallery/delete/">
												<i class="fe fe-trash"></i> Delete
											</a>
										</div>
									</div>
								</div>
							</div>
							
					</div>
				</section> -->
			</div>
		</div>
		<!-- /Page Wrapper -->
		<!-- Delete Modal -->
		<div class="modal fade" id="delete_modal" aria-hidden="true" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<!--	<div class="modal-header">
						<h5 class="modal-title">Delete</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>-->
					<div class="modal-body">
						<div class="form-content p-2">
							<h4 class="modal-title">Delete</h4>
							<p class="mb-4">Are you sure want to delete?</p>
							<button type="button" class="btn btn-primary">Save </button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete Modal -->
	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="/js/jquery-3.2.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>

	<!-- Custom JS -->
	<script src="/js/script.js"></script>

</body>

<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/settings.ejs by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:46 GMT -->

</html>
