
<html lang="en">

<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/doctor-list by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:51 GMT -->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Waitlist</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/css/font-awesome.min.css">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="/css/feathericon.min.css">

	<!-- Datatables CSS -->
	<link rel="stylesheet" href="/plugins/datatables/datatables.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/css/style.css">
	

	<!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<div class="header">
			
			<!-- Logo -->
			<div class="header-left">
				<a href="index" class="logo">
					<img src="/img/logo.png" alt="Logo">
				</a>
				<a href="index" class="logo logo-small">
					<img src="/img/logo-small.png" alt="Logo" width="30" height="30">
				</a>
			</div>
			<!-- /Logo -->
			
			<a href="javascript:void(0);" id="toggle_btn">
				<i class="fe fe-text-align-left"></i>
			</a>
			
			
			<!-- Mobile Menu Toggle -->
			<a class="mobile_btn" id="mobile_btn">
				<i class="fa fa-bars"></i>
			</a>
			<!-- /Mobile Menu Toggle -->
			
			<!-- Header Right Menu -->
			<ul class="nav user-menu">

				
				<!-- User Menu -->
				<li class="nav-item dropdown has-arrow">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
						Admin
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/admin/logout">Logout</a>
					</div>
				</li>
				<!-- /User Menu -->
				
			</ul>
			<!-- /Header Right Menu -->
			
		</div>
		<!-- /Header -->
		
		<!-- Sidebar -->
		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li class="menu-title">
							<span>Home</span>
						</li>
						<li>
							<a href="/latestupdates"><i class="fe fe-list-bullet"></i> <span>Latest Updates</span></a>
						</li>
						<li class=''>
							<a href="/features"><i class="fe fe-list-bullet"></i> <span>Sports and features</span></a>
						</li>
						<li>
							<a href="/about"><i class="fe fe-list-bullet"></i> <span>About us</span></a>
						</li>
						<li >
							<a href="/blogs"><i class="fe fe-list-bullet"></i> <span>Blogs</span></a>
						</li>
						<li >
							<a href="/enter"><i class="fe fe-list-bullet"></i> <span>Entertainment</span></a>
						</li> 
						<li class='active'>
							<a href="/wait"><i class="fe fe-list-bullet"></i> <span>Waitlist</span></a>
						</li>
						<li >
							<a href="/staytune"><i class="fe fe-list-bullet"></i> <span>Staytune</span></a>
						</li>
						<li >
							<a href="/ads"><i class="fe fe-list-bullet"></i> <span>Advertisement</span></a>
						</li>
						<li >
							<a href="/video"><i class="fe fe-list-bullet"></i> <span>Video</span></a>
						</li>
						<li >
							<a href="/shopby"><i class="fe fe-list-bullet"></i> <span>Shop By</span></a>
						</li>


					</ul>
				</div>
			</div>
		</div>
		<!-- /Sidebar -->

		<!-- Page Wrapper -->
		<div class="page-wrapper">
			<div class="content container-fluid">

				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-12 col-md-12 col-lg-12 d-flex">
							<h3 class="page-title">List of Users</h3>
							
						<!-- </div><div class="col-12 col-md-12 col-lg-12 d-flex">
							<a href="#Add_Doctor" data-toggle="modal"
								class="btn btn-primary float-right mt-2">Add</a>
						</div> -->
					</div>
				</div>

				
				<!-- /Page Header -->

				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-body">
								<div class="table-responsive">
									<table class="datatable table table-hover table-center mb-0">
										<thead>
											<tr>
												<th>#</th>
												<th>Name</th>
												<th>Email</th>
												<!-- <th>Action</th> -->

											</tr>
										</thead>
										<tbody>
											
											<% for(var i=0; i<data.length; i++) { %>
												
											<tr>
												<td><%= i+1 %></td>
												
												<td><%= data[i].specialization %></td>
												
											</tr>
											<% } %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- /Page Wrapper -->

<!-- Add Modal -->

<div class="modal fade" id="Add_Doctor" aria-hidden="true" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Doctor</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/admin/doctors/add" method="POST"  enctype='multipart/form-data'>
					<div class="row form-row">
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label>Name</label>
								<input name="name" type="text" class="form-control">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label>Image</label>
								<input name="image" type="file" class="form-control">
								<input name="fallbackurl" hidden type="text" class="form-control"
												value="">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label>Specialities</label>
								<input name="specialities" type="text" class="form-control">
								
							</div>
						</div>

					</div>
					<button type="submit" class="btn btn-primary btn-block">Save Changes</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /ADD Modal -->


		<!-- Edit Details Modal -->
		<% for(var i=0; i<data.length; i++) { %>
		<div class="modal fade" id="edit_doctor<%- data[i].ID %>" aria-hidden="true" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit Doctor</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						
						<form action="/admin/doctors/edit/<%- data[i].ID %>" method="POST" enctype='multipart/form-data'>
							<div class="row form-row">

								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Doctor's Name</label>
										<input name="name" type="text" class="form-control" value="<%- data[i].name %>">
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<div class="form-group">
										<label>Speciality</label>
										<input name="specialities" type="text" class="form-control" value="<%- data[i].specialization %>">
									</div>
								</div>
								<div class="col-12 col-sm-12">
									<div class="form-group">
										<label>Doctor's Image
										</label>
										<input name="image" type="file" class="form-control"  value="<%- data[i].img %>">
										<input name="fallbackurl" hidden type="text" class="form-control"  value="<%- data[i].img %>">
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-primary btn-block">Save Changes</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<%}%>
		<!-- /Edit Details Modal -->

		<!-- Delete Modal -->
		<div class="modal fade" id="delete_modal" aria-hidden="true" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="form-content p-2">
							<h4 class="modal-title">Delete</h4>
							<p class="mb-4">Are you sure want to delete?</p>
							<form action="/admin/doctor/delete/" method="POST">
								<button type="button" class="btn btn-primary">Save </button>
							</form>
							
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete Modal -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="/js/jquery-3.2.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>

	<!-- Datatables JS -->
	<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="/plugins/datatables/datatables.min.js"></script>

	<!-- Custom JS -->
	<script src="/js/script.js"></script>
	<script src="/js/edit.js"></script>

</body>

<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/doctor-list by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:51 GMT -->

</html>